mineria_p4.log
bibliography.bib
mineria_p4.aux
mineria_p4.bbl
mineria_p4.blg
mineria_p4.nav
mineria_p4.out
mineria_p4.synctex.gz
mineria_p4.snm
mineria_p4.toc
mineria_p4.fls
mineria_p4.fdb_latexmk
mineria_paper_base.log
mineria_paper_base.aux
mineria_paper_base.bbl
mineria_paper_base.blg
mineria_paper_base.nav
mineria_paper_base.out
mineria_paper_base.snm
mineria_paper_base.synctex.gz
mineria_paper_base.toc
