mineria_p4.log
mineria_p4.aux
mineria_p4.bbl
mineria_p4.blg
mineria_p4.nav
mineria_p4.out
mineria_p4.synctex.gz
mineria_p4.snm
mineria_p4.toc
mineria_p4.fls
mineria_p4.fdb_latexmk
mineria_paper_base.log
mineria_paper_base.aux
mineria_paper_base.bbl
mineria_paper_base.blg
mineria_paper_base.nav
mineria_paper_base.out
mineria_paper_base.snm
mineria_paper_base.synctex.gz
mineria_paper_base.toc
project.aux
project.bbl
project.blg
project.log
project.nav
project.out
project.snm
project.synctex.gz
project.toc
thesis/research_proposal.aux
thesis/research_proposal.bbl
thesis/research_proposal.blg
thesis/research_proposal.log
thesis/research_proposal.out
thesis/research_proposal.synctex.gz
ia/genetic_algorithm/ejemplo_EE.zip
ia/src/ga_real_results.txt
ia/src/results.txt
ia/src/ga_per_results.txt
ia/ant/AS_Ejemplo_1.txt
ia/src/ant_sys_results.txt
ia/src/fitness_history.png
ia/src/prog_gen_results.txt
ia/src/prog_gen_solution.png
ia/ant/ACS_Ejemplo_1.txt
ia/genetic_algorithm/ejemplo_PE.zip
ia/src/ant_col_sys_results_.txt
ia/src/ant_col_sys_results.txt
ia/src/automata
ia/src/automata.png
ia/src/automata_.png
ia/src/prog_evol_results_.txt
ia/src/prog_evol_results.txt
ia/ant/Ejemplo_PSO_01.txt
ia/genetic_algorithm/ejemplo_ED.zip
ia/src/pso_results.txt
ia/src/evol_dif_results.txt
ia/bee/ABC_Ejemplo_1.txt
ia/bee/BIA_Ejemplo.txt
ia/inmune/ejemplo_clonalg_1.txt
ia/src/denditric_ejemplo_DCA_1.txt
ia/src/denditric_results.txt
ia/src/clonalg_results.txt
ia/src/bee_results.txt
ia/src/bat_results.txt
cg/GLFW_GLAD_GLUT_GLEW_cmake_project_Base.zip
