mineria_p4.log
mineria_p4.aux
mineria_p4.bbl
mineria_p4.blg
mineria_p4.nav
mineria_p4.out
mineria_p4.synctex.gz
mineria_p4.snm
mineria_p4.toc
mineria_p4.fls
mineria_p4.fdb_latexmk
mineria_paper_base.log
mineria_paper_base.aux
mineria_paper_base.bbl
mineria_paper_base.blg
mineria_paper_base.nav
mineria_paper_base.out
mineria_paper_base.snm
mineria_paper_base.synctex.gz
mineria_paper_base.toc
project.aux
project.bbl
project.blg
project.log
project.nav
project.out
project.snm
project.synctex.gz
project.toc
thesis/research_proposal.aux
thesis/research_proposal.bbl
thesis/research_proposal.blg
thesis/research_proposal.log
thesis/research_proposal.out
thesis/research_proposal.synctex.gz
ia/genetic_algorithm/ejemplo_EE.zip
ia/src/ga_real_results.txt
ia/src/results.txt
ia/src/ga_per_results.txt
ia/ant/AS_Ejemplo_1.txt
ia/src/ant_sys_results.txt
ia/src/fitness_history.png
ia/src/prog_gen_results.txt
ia/src/prog_gen_solution.png
ia/ant/ACS_Ejemplo_1.txt
ia/genetic_algorithm/ejemplo_PE.zip
ia/src/ant_col_sys_results_.txt
ia/src/ant_col_sys_results.txt
ia/src/automata
ia/src/automata.png
ia/src/automata_.png
ia/src/prog_evol_results_.txt
ia/src/prog_evol_results.txt
ia/ant/Ejemplo_PSO_01.txt
ia/genetic_algorithm/ejemplo_ED.zip
ia/src/pso_results.txt
ia/src/evol_dif_results.txt
ia/bee/ABC_Ejemplo_1.txt
ia/bee/BIA_Ejemplo.txt
ia/inmune/ejemplo_clonalg_1.txt
ia/src/denditric_ejemplo_DCA_1.txt
ia/src/denditric_results.txt
ia/src/clonalg_results.txt
ia/src/bee_results.txt
ia/src/bat_results.txt
cg/GLFW_GLAD_GLUT_GLEW_cmake_project_Base.zip
cg/src/GLFW_GLAD_GLUT_GLEW_cmake_project_Base.zip
cg/src/base/build/*
cg/src/hello/build/*
cg/src/hello/libraries/*
cg/src/sample_cmake/*/build/*
cg/latex/papers.aux
cg/latex/papers.bbl
cg/latex/papers.blg
cg/latex/papers.log
cg/latex/papers.nav
cg/latex/papers.out
cg/latex/papers.snm
cg/latex/papers.synctex.gz
cg/latex/papers.toc
cg/papers/multiFLIP.mp4
cg/papers/particle-based.mov
cg/papers/fundamental-solution/closed_form_circular_ripples_code.zip
cg/papers/practical-octree/Supplemental/vids/1st_horizontal.mp4
cg/papers/practical-octree/Supplemental/vids/1st_tilted.mp4
cg/papers/practical-octree/Supplemental/vids/2nd_cylinder.mp4
cg/papers/practical-octree/Supplemental/vids/2nd_horizontal.mp4
cg/papers/practical-octree/Supplemental/vids/2nd_order.mp4
cg/papers/practical-octree/Supplemental/vids/2nd_tilted.mp4
cg/papers/practical-octree/Supplemental/vids/c0_MLS.mp4
cg/papers/practical-octree/Supplemental/vids/cont_linear_cell.mp4
cg/papers/practical-octree/Supplemental/vids/cont_trig_cell.mp4
cg/papers/practical-octree/Supplemental/vids/cont_trig_face.mp4
cg/papers/practical-octree/Supplemental/vids/cylinder_mac.mp4
cg/papers/practical-octree/Supplemental/vids/levelset.mp4
cg/papers/practical-octree/Supplemental/vids/mac.mp4
cg/papers/practical-octree/Supplemental/vids/maccormack.mp4
cg/papers/practical-octree/Supplemental/vids/naive_1st.mp4
cg/papers/practical-octree/Supplemental/vids/noncont_linear_cell.mp4
cg/papers/practical-octree/Supplemental/vids/noncont_MLS.mp4
cg/papers/practical-octree/Supplemental/vids/noncont_trig_cell.mp4
cg/papers/practical-octree/Supplemental/vids/noncont_trig_face.mp4
cg/papers/practical-octree/Supplemental/vids/notemporal_cylinder.mp4
cg/papers/practical-octree/Supplemental/vids/s40.mp4
cg/papers/practical-octree/Supplemental/vids/s100.mp4
cg/papers/practical-octree/Supplemental/vids/seaplane_mac.mp4
cg/papers/practical-octree/Supplemental/vids/spd_horizontal.mp4
cg/papers/practical-octree/Supplemental/vids/spd_tilted.mp4
cg/papers/practical-octree/Supplemental/vids/spd.mp4
cg/papers/practical-octree/Supplemental/vids/waterdrop_sizing/s00.mp4
cg/papers/practical-octree/Supplemental/vids/waterdrop_sizing/s20.mp4
cg/papers/practical-octree/Supplemental/vids/waterdrop_sizing/s40.mp4
cg/papers/practical-octree/Supplemental/vids/waterdrop_sizing/s60.mp4
cg/papers/practical-octree/Supplemental/vids/waterdrop_sizing/s80.mp4
cg/papers/practical-octree/Supplemental/vids/waterdrop_sizing/s100.mp4
cg/papers/practical-octree/Supplemental/interpolation.maxima
cg/papers/practical-octree/Supplemental/Numerical_Examination_of_Order_of_Accuracy.pdf
cg/papers/fundamental-solution/closed_form_circular_ripples_suppl_mat_camera_ready.pdf
ia/src/thesis/pso_result.txt

cg/latex/papers_v2.aux
cg/latex/papers_v2.bbl
cg/latex/papers_v2.blg
cg/latex/papers_v2.log
cg/latex/papers_v2.nav
cg/latex/papers_v2.out
cg/latex/papers_v2.snm
cg/latex/papers_v2.synctex.gz
cg/latex/papers_v2.toc
ia/src/thesis/pso_result.txt
ia/src/thesis/pso_result.txt
ia/latex/paper/main.aux
ia/latex/paper/main.bbl
ia/latex/paper/main.bcf
ia/latex/paper/main.blg
ia/latex/paper/main.log
ia/latex/paper/main.out
ia/latex/paper/texput.log
ia/latex/slides/final_project.aux
ia/latex/slides/final_project.bbl
ia/latex/slides/final_project.blg
ia/latex/slides/final_project.log
ia/latex/slides/final_project.nav
ia/latex/slides/final_project.out
ia/latex/slides/final_project.snm
ia/latex/slides/final_project.synctex.gz
ia/latex/slides/final_project.toc
